.text2
{
    background-color: yellow;
}
.box1
{
    border: 5px solid red;
    width: 500px;
    height: 100px;
}
.box2
{
    border: 5px dashed red;
    height: 100px;
    width: 300px;
}
.box3
{
    border: 5px solid red;
    height: 100px;
    width: 300px;
    margin: 20px 5px 5px 5px;
}
.box4
{
    border: 5px solid red;
    height: 100px;
    width: 300px;
    margin-left: 50px;
    padding-left: 50px;
}
.box5
{
    border: 5px solid red;
    height: 100px;
    width: 300px;
    margin-left: 50px;
    padding-left: 50px;
    border-top-right-radius: 25px;
}
.box5
{
    border: 5px solid red;
    height: 300px;
    width: 200px;
    margin-left: 50px;
    padding-left: 150px;
    border-radius: 50%;
}
